/* =============
    End
============= */

#end{
    margin-top: -80px;
    #darkPurpleWave{
        width: 100%;
        margin-bottom: -15px;
    }
    .end{
        background-color: #2E1845;
        height: 90vh;
        display: flex;
        aside{
            width: 50vw;
            display: flex;
            align-items: center;
            justify-content: center;
            div{
                width: 50%;
                padding: 70px 15px;
                border: 5px white solid;
                border-radius: 80px;
                text-align: center;

                h3{
                    margin: 65px 0px;
                }
            }
        }
    }
}