/* =============
    Food
============= */

#food{
    margin-top: -80px;
    #orangeWave{
        width: 100%;
        margin-bottom: -15px;
    }
    .food{
        background-color: #FFC3A4;
        height: 90vh;
        display: flex;
        >div{
            width: 50vw;
        }
        aside{
            width: 50vw;
            display: flex;
            align-items: center;
            justify-content: center;
            div{
                width: 50%;
                padding: 70px 15px;
                border: 5px white solid;
                border-radius: 80px;
                text-align: center;

                h3{
                    margin: 65px 0px;
                }
            }
        }
    }
}