/* =============
    Intro
============= */

#intro{
    #tanWave{
        width: 100%;
        margin-bottom: -15px;
    }
    .intro{
        background-color: #F9D5AE;
        height: 90vh;
        display: flex;
        aside{
            width: 50vw;
            display: flex;
            align-items: center;
            justify-content: center;
            div{
                width: 50%;
                padding: 70px 15px;
                border: 5px white solid;
                border-radius: 80px;
                text-align: center;
                color: #2E1845;

                h3{
                    margin: 65px 0px;
                }
            }
        }
    }
}
