/* =============
    Preloader
============= */

#preloader{
    display: grid;
    grid-template-columns: auto 90vw auto;
    grid-template-areas: ". preloader .";
    background-color: transparent;
    
    position: absolute;
    height: 100vh;
    width: 100%;

    @include md{
        grid-template-columns: auto 80vw auto;
    }

    @include lg{
        grid-template-columns: auto 70vw auto;
    }

    @include xl{
        grid-template-columns: auto 50vw auto;
    }

    >div{
        grid-area: preloader;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        svg{
            width: 100%;
            height: 100%;

            #logo-4{
                visibility: hidden;
            }
        }
    }
}