/* =============
    Intro
============= */

#intro{
    display: flex;
    align-items: center;
    justify-content: center;

    >div{
        position: absolute;
        top: 0;
        left: 0;
        background-color: #F9D5AE;
        h1{
            text-align: center;
            width: 100vw;
        }
    }
}
