/* =============
    Header
============= */

header {





	background-color: #722B4A;
	left: 0;
	// position: fixed;
	top: 0;
	width: 100%;
	position: fixed;
	z-index: 10;

	#circle-cover{
		position: fixed;
		
		width: 110vw;
		height: 100vh;
		// width: 100px;

		overflow-x: hidden;
		overflow-y: hidden;
		z-index: 1;

		
	

		#circle-svg{

			position:fixed;
			top:0;
			right:0;
			width: 100%;

			// left:24px;

		}


		#circle-svg2{

			position:fixed;
			top:0;
			right:0;
			width: 100%;

			// left:24px;

		}

		#circle-svg3{

			position:fixed;
			top:0;
			right:0;
			width: 100%;

			// left:24px;

		}


	
	}

	section{

		// left: 0;
		// // position: fixed;
		// top: 0;
		// width: 100%;

	#navigation-contain{
		// @include xl{

		// 	display: grid;
		// grid-template-areas: ". contain .";
		// grid-template-columns: auto 1200px auto;


		// }




	
	#navigation-header {
		// @include xl{
		// 	grid-area: contain;

		// }

		
		display: grid;
		grid-template-areas: "survival search burger"
            "nav nav nav";
		grid-template-columns: 20% 60% 20%;
		// padding-left: 16px;
		// padding-top: 32px;
		@include lg {
			grid-template-areas: "survival nav search";
			grid-template-columns: 10% auto 10%;
			padding-right: 16px;
		}
		

       
		#logo-container {
			grid-area: survival;

			

			@include xl{
				width: 100px;
				padding-left: 4vw;
			}

		
		}

		#search-icon-flex{
			display: flex;
			justify-content: center;

			#search-icon-full{

				grid-area: search;
				width: 250px;



				@include xl{
					width: 200px;

					// justify-content: flex-end;
				}
				
			}
			

		}

	
      
      
		#burger-container {
			grid-area: burger;
			z-index: 4;
			// width: 20px;
			@include lg {
				display: none !important;
			}
			i {
				color: blue;
				cursor: pointer;
				font-size: rem-calc(50);
			}
		}
		#nav-container {
			// background-color: $darkblue;
			// display: none;
			z-index: 3;
			position: fixed;
			width: 100vw;
			height: 100vh;
			grid-area: nav;
			padding: 20px 10px 10px;
			// display: grid;
			// justify-content: center;
			// align-items: center;
				

		

			@include lg {
				// background-color: $darkblue;
				display: block !important;
				position: static;
				height: 32px;
				width: 20vw;
			}

			
		}
	}

}
	}
}
